#streamer-info{
    border-top: 2px solid #a1a1a1;
    height: 55px;

    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 4px;
}

#streamer-avatar{
    border-radius: 50%;
    width: 36px;
    height: 36px;
    border: 1px solid white;
}

#streamer-name{
    color: white;
    font-weight: bold;
    font-size: 16px !important;
}